ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #f3f3f3;
}

.active {
    background-color: #4CAF50;
  }

  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }

  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
/*
  div{
    display: none;
}*/




    
.button {
    font-size: 16px;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.25em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    color:#000000;
    text-align:center;
    transition: all 0.2s;

    background-color: #ffffff;
    }
    .button:hover{
    color:#ffffff;
    background-color:#000000;
    }
    @media all and (max-width:30em){
    .button{
    display:block;
    margin:0.4em auto;
    }
    }